<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appSettings file="" />
<system.webServer>
<staticContent>
   <!-- AND MIME REGISTER THE TYPES //-->
         <mimeMap fileExtension=".jsgz" mimeType="application/x-javascript" />
       <mimeMap fileExtension=".datagz" mimeType="application/octet-stream" />
       <mimeMap fileExtension=".memgz" mimeType="application/octet-stream" />
       <mimeMap fileExtension=".unity3dgz" mimeType="application/octet-stream" />
       <mimeMap fileExtension=".mem" mimeType="application/octet-stream" />
       <mimeMap fileExtension=".data" mimeType="application/octet-stream" />
     </staticContent>
</system.webServer>
</configuration>
